<header class="px-2 clearfix">
  <div class="right-lg absolute-lg right-0 top-0">
    <ul class="mt-1 mt-lg-2 mr-2 mr-lg-3">
      <li class="inline-block block-lg text-right ml-0 ml-lg-0">
        <h4 class="text-accent mt-0">
          <a class="no-underline" href="{{ site.baseurl }}/">
            Home
          </a>
        </h4>
      </li>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
          <h4 class="text-accent mt-0">
            <a class="no-underline" href="{{ my_page.url | prepend: site.baseurl }}">
              {{ my_page.title }}
            </a>
          </h4>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>
