<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div>
      <header class="clearfix">
        <div class="container mx-auto px-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 mb-0 header-title">Tim Robertson</h1>
          <h2 class="h2 text-accent mt-0">made this website.</h3>

          <div class="clearfix mb-4 py-1">
            <a href="/about.html">About</a>
            <a href="/resume.html">Resum&eacute;</a>
            <a href="https://www.linkedin.com/in/tim-robertson-24684b2/" target="_blank">LinkedIn</a>
            <a href="https://www.instagram.com/timaro/" target="_blank">Instagram</a>
          </div>

        </div>
      </header>
    </div>
  </body>

</html>
